<!-- Footer -->
 <section class="grid justify-center">

<footer class="border-t-2 mt-60 phone:max-tablet:justify-center mx-[200px] max-w-[1200px]">
    <section class="grid justify-between mx-10 phone:max-tablet:grid-cols-1 phone:grid-cols-1 tablet:flex">
        <div class="flex gap-5 mt-10 phone:flex-col">
            <div>
                <a href="" class="text-gray-500 mr-10">CONTACT</a>
                <a href="" class="text-gray-500 mr-10">TERMS OF SERVICES</a>
                <a href="" class="text-gray-500 mr-10 ">SHIPPING AND RETURNS</a>
            </div>
        </div>
        <div class="border-b-2 border-black">
            <div class="flex justify-between gap-20 mt-7 mb-2">
                <input class="text-black" type="text" placeholder="Give an email, get the newsletter.">
                <img
                        class="cursor-pointer"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c4a81552353ddc6cf542340113428cce528e4e8dbfd18c5b359edfe4bba9e08f?apiKey=e8ca62b583f64a60ba17a0d16e44846a&"
                        alt=""/>
            </div>
        </div>
    </section>
    <section class="phone:grid-rows-1 phone:grid tablet:flex justify-between mx-10 my-10 ">
        <div>
            © 2024 LBJ.
            <a href="#" class="text-gray-500">Terms of use</a>
            and
            <a href="#" class="text-gray-500">Privacy Policy</a>
        </div>
        <div class="flex gap-10 mx-10 phone:mt-5 tablet:mt-0 phone:max-tablet:justify-center">
            <a href="#">
                <img class="size-[15px]" src="/asset/linkedin-big-logo.png" alt="In Icon">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100006106118260" target="_blank">
                <img class="size-[15px]" src="/asset/facebook (1).png" alt="Facebook Icon">
            </a>
            <a href="#">
                <img class="size-[15px]" src="/asset/instagram.png" alt="Instagram Icon">
            </a>
            <a href="#">
                <img class="size-[15px]" src="/asset/twitter.png" alt="Twitter Icon">
            </a>
        </div>
    </section>
</footer>
    
</section>
<!-- Footer -->