<section class="grid justify-center">
<div class="flex flex-col max-w-[1200px] tablet:mx-[100px] laptop:mx-[200px] phone:mx-[20px]">
    <span class="text-4xl mb-8 font-roboto font-bold text-center">About Us</span>
    <span class="text-[20px] font-roboto text-center mb-8">Who we are and why we do what we do!</span>
    <span class="text-[15px] font-roboto  mb-8">LBJ Jewelry is a renowned brand in the jewelry industry, driven by passion and dedication to every intricate detail. Established in 2024, LBJ has quickly solidified its position in the market thanks to the quality of its products and sophisticated designs.</span>
    <span class="text-[25px] font-roboto font-bold mb-8">Top trends</span>
    <section class="grid justify-center tablet:mx-[80px] laptop:mx-[150px] mb-8">
        <video class="h-full w-full rounded-lg max-w-[1100px] items-center object-cover" autoreplay autoPlay muted>
            <source src="/vid/vid1.mp4" type="video/mp4"/>
        </video>
    </section>
    <span class="text-[15px] font-roboto mb-8">At LBJ Jewelry, we pride ourselves on staying ahead of the curve and setting trends in the jewelry industry. Here are the top jewelry trends that define elegance and sophistication, all embodied in LBJ's latest collections. </span>
    <ul class="text-[15px] font-roboto ml-5 mb-8">
        <li>1. Sustainable Jewelry</li>
        <li>2. Minimalist Designs</li>
    </ul>
    <span class="text-[25px] font-roboto font-bold mb-8">Produced with care</span>
    <section class="grid justify-center tablet:mx-[80px] laptop:mx-[150px] mb-8">
        <video class="h-full w-full rounded-lg max-w-[1100px] items-center object-cover" autoreplay autoPlay muted>
            <source src="/vid/vid2.mp4" type="video/mp4"/>
        </video>
    </section>
    <span class="text-[15px] font-roboto  mb-8">
        LBJ takes pride in its diverse jewelry collections, from rings, necklaces, and earrings to bracelets. Each piece is designed with meticulous attention to detail and creativity, blending classic and contemporary styles. LBJ’s designs are not just jewelry; they are works of art that bring beauty and confidence to the wearer.
    </span>
</div>
</section>
<script type="module" src="/src/resources/scripts/menu.js"></script>