<div class="flex flex-col w-5/6 h-auto ml-auto mr-auto mt-24 text-center font-medium">
    <span class="text-4xl">About</span>
    <span class="my-6">Passionate Innovators, Driving Positive Change!</span>
    <span class="text-left">LBJ Jewelry is a renowned brand in the jewelry industry, driven by passion and dedication to every intricate detail. Established in 2024, LBJ has quickly solidified its position in the market thanks to the quality of its products and sophisticated designs.</span>
    <span class="text-2xl text-left mt-9">Top trends</span>
    <video class="h-full w-full rounded-lg" autoreplay autoPlay muted>
        <source src="/vid/vid1.mp4" type="video/mp4"/>
    </video>
    <span class="text-left mt-4">At LBJ Jewelry, we pride ourselves on staying ahead of the curve and setting trends in the jewelry industry. Here are the top jewelry trends that define elegance and sophistication, all embodied in LBJ's latest collections. </span>
    <ul class="text-left mt-5 ml-6 space-y-2">
        <li>● Sustainable Jewelry</li>
        <li>● Minimalist Designs</li>
    </ul>
    <span class="text-2xl text-left mt-14">Produced with care</span>
    <video class="h-full w-full rounded-lg" autoreplay autoPlay muted>
        <source src="/vid/vid2.mp4" type="video/mp4"/>
    </video>
    <span class="text-left mt-4">
        LBJ takes pride in its diverse jewelry collections, from rings, necklaces, and earrings to bracelets. Each piece is designed with meticulous attention to detail and creativity, blending classic and contemporary styles. LBJ’s designs are not just jewelry; they are works of art that bring beauty and confidence to the wearer.
    </span>
</div>