<section class="grid justify-center">
<div class="tablet:hidden">
    <img
            src="https://file.hstatic.net/200000103143/file/hero-module-2880-x-1040_a09ac3b897304bd18a9d2c5f1b97c268.jpg"
            class="w-full"
            alt="Image 1"
    />
    <div class="text text-white text-center bg-opacity-60 bg-black p-2 phone:max-tablet:hidden absolute bottom-8 w-full">
        Red Velvet x PANDORA
    </div>
</div>
<div class="slideshow-container relative my-10 phone:max-tablet:hidden mx-[200px] max-w-[1200px]">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade phone:w-full tablet:w-full  ">
        <div class="numbertext"></div>
        <img
                src="/asset/banner/slide1.webp"
                class="w-full h-full max-w-[1200px]"
                alt="Image 1"
        />
        <div
                class="text text-white text-center bg-opacity-60 bg-black p-2 phone:max-tablet:hidden absolute bottom-8 w-full "
        >
            Be Love
        </div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img
                src="/asset/banner/slide2.webp"
                class="w-full"
                alt="Image 1"
        />
        <div
                class="text text-white text-center bg-opacity-60 bg-black p-2 phone:max-tablet:hidden absolute bottom-8 w-full"
        >
            Red Velvet x PANDORA
        </div>
    </div>

    <!-- ... (similarly for other slides) ... -->

    <!-- Next and previous buttons -->

    <a
            class="prev cursor-pointer absolute top-1/2 transform -translate-y-1/2 left-0 p-4 text-black font-bold text-xl transition duration-600 ease-in-out rounded-r-md hover:bg-black hover:text-white select-none"
            id = "prev"
    >&#10094;</a
    >
    <a
            class="next cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-0 p-4 text-black font-bold text-xl transition duration-600 ease-in-out hover:bg-black hover:text-white rounded-l-md select-none"
            id = "next"
    >&#10095;</a
    >
</div>

<!-- The dots/circles -->


<main>
    <section class="grid justify-center">

    
    <section
            class="flex justify-between mt-14 font-medium my-10 tablet:mx-[200px] max-w-[1200px] phone:w-[calc(500px-80px)] tablet:w-[calc(1200px-350px)] laptop:w-[calc(1200px-50px)] "
    >
        <h2 class="font-roboto flex-auto tablet:text-4xl phone:text-2xl leading-10 text-black ">
            Shop The Latest
        </h2>
        <a
                href="/shop"
                class="font-roboto my-auto tablet:text-xl leading-7 capitalize text-stone-500 phone:text-sm "
        >
            View All
        </a>
    </section>
</section>

    <!-- Product Grid -->
<section class="grid justify-center">
    <section
            class="grid phone:grid-cols-2 tablet:grid-cols-3  laptop:grid-cols-4 tablet:mx-[200px] tablet:w-[calc(1000px-200px)] laptop:w-[calc(1200px-100px)] phone:w-[calc(500px-120px)] max-w-[1200px]">
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product1.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px]">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product2.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px]">Product</h3>
                <h4 class="text-center text-[12px] desktop:text-[18px] max-[431px]:text-[11px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px]  tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product3.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px]">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product4.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px]">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product5.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px]">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px]  tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product1.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px]">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px] ">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px]  tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product2.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px]">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px]  tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product3.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px]">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
    </section>
</section>
</section>
</main>
<section class="grid justify-center">
    <div class="phone:mx-[20px]  tablet:mx-[200px] max-w-[1200px] phone:max-tablet::max-w-[400px] phone:w-screen phone:h-[200px] tablet:w-[800px] tablet:h-[350px] laptop:w-[1000px] laptop:h-[500px] bg-[url(https://images.unsplash.com/photo-1531303435785-3853ba035cda?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover bg-center">
    </div>
</section>



<script type="module" src="/src/resources/scripts/menu.js"></script>
<script type="module" src="/src/resources/scripts/slide.js"></script>