<section class="bg-white p-8 shadow-lg rounded-lg min-h-screen">
    <h2 class="text-3xl font-bold mb-4"><%= post.title %></h2>
    <p class="text-gray-600 mb-6"><%= post.createdAt.toDateString() %></p>
    <div class="prose lg:prose-xl">
        <%= post.content %>
    </div>
</section>