<div class="new-product-head-wrap flex flex-wrap relative mx-[200px] max-w-[1200px] max-[431px]:mx-0">
    <div class="slideshow-container relative my-10 phone:max-tablet:hidden max-[431px]:mx-0 w-[600px] h-[600px]">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade phone:w-full tablet:w-[full] tablet:max-w-[1200px] ">
            <div class="numbertext"></div>
            <img
                    src="https://product.hstatic.net/200000103143/product/592790c01_rgb_3cc4b266bdce4cdc9d99415c2f6c79c4_214a98c78f21435e894b35337624d93c_master.jpg"
                    class="w-[600px] h-[600px] max-w-[1200px]: object-cover"
                    alt="Image 1"
            />

        </div>
    
        <div class="mySlides fade">
            <div class="numbertext"></div>
            <img
                    src="/asset/banner/slide2.webp"
                    class="w-[600px] h-[600px] hidden"
                    alt="Image 1"
            />
        </div>
    
        <!-- ... (similarly for other slides) ... -->
    
        <!-- Next and previous buttons -->
    
        <a
                class="prev cursor-pointer absolute top-1/2 transform -translate-y-1/2 left-0 p-4 text-black font-bold text-xl transition duration-600 ease-in-out rounded-r-md hover:bg-black hover:text-white"
                onclick="plusSlides(-1)"
        >&#10094;</a
        >
        <a
                class="next cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-0 p-4 text-black font-bold text-xl transition duration-600 ease-in-out hover:bg-black hover:text-white rounded-l-md"
                onclick="plusSlides(1)"
        >&#10095;</a
        >
    </div>
    <div
            class="new-product-info w-full md:w-1/3 max-w-[360px] mx-auto sticky top-[140px] h-min-content md:max-w-[85%] md:mt-4"
    >
        <div
                class="new-product-info-label text-center font-normal text-gray-500 text-sm uppercase mb-2.5 tracking-wider"
        >
            <span></span>
        </div>
        <h1 class="font-roboto new-product-title font-bold text-[25px] mt-2.5 text-center">
            Silver Ring Covered in Blue Leather
        </h1>
        <div
                class="new-product-info-prices flex justify-center items-center text-sm"
        >
            <b
                    class="bg-pink-200 text-gray-800 inline-block px-2.5 py-1 font-bold mx-1.5"
            >£30.00</b
            >
            <del class="mx-1.5">£0</del>
            <span
                    class="bg-gray-800 text-white inline-block px-2.5 py-1 font-medium mx-1.5"
            >-0%</span
            >
        </div>
        <div class="new-product-swatch border-t border-b border-gray-300 mt-6">
            <form
                    id="add-item-form"
                    action="/cart/add"
                    method="post"
                    class="variants clearfix"
            >
                <!-- <div class="select clearfix hidden">
                <div class="selector-wrapper">
                  <label for="product-select-option-0">Chất liệu</label>
                  <select
                    class="single-option-selector"
                    data-option="option1"
                    id="product-select-option-0"
                  >
                    <option value="Bạc">Bạc</option>
                  </select>
                </div>
                <div class="selector-wrapper">
                  <label for="product-select-option-1">Kích thước</label>
                  <select
                    class="single-option-selector"
                    data-option="option2"
                    id="product-select-option-1"
                  >
                    <option value="S1">S1</option>
                    <option value="S2">S2</option>
                  </select>
                </div>
                <div class="selector-wrapper">
                  <label for="product-select-option-2">Stylecode</label>
                  <select
                    class="single-option-selector"
                    data-option="option3"
                    id="product-select-option-2"
                  >
                    <option value="DAYDA-XANH-DO">DAYDA-XANH-DO</option>
                  </select>
                </div>
                <select id="product-select" name="id" class="hidden">
                  <option
                    data-sku="592790C01-S1"
                    data-color="Bạc"
                    value="1114836164"
                  >
                    Bạc / S1 / DAYDA-XANH-DO - 2,090,000₫
                  </option>
                  <option
                    data-sku="592790C01-S2"
                    data-color="Bạc"
                    value="1114836165"
                  >
                    Bạc / S2 / DAYDA-XANH-DO - 2,090,000₫
                  </option>
                </select>
              </div> -->
                <div class="select-swatch">
                    <div
                            id="variant-swatch-0"
                            class="swatch clearfix"
                            data-option="option1"
                            data-option-index="0"
                    >
                        <div class="header"><span>Material</span></div>
                        <div class="select-swap">
                            <div
                                    data-value="Bạc"
                                    class="209000000 n-sd swatch-element bac"
                            >
                                <input
                                        class="variant-0 hidden"
                                        id="swatch-0-bac"
                                        type="radio"
                                        name="option1"
                                        value="Bạc"
                                        data-vhandle="bac"
                                        checked
                                />
                                <label
                                        for="swatch-0-bac"
                                        class="sd block mx-2.5 my-2.5 bg-white relative text-sm font-normal text-center cursor-pointer tracking-wide p-2.5 border border-gray-300"
                                ><span>Silver</span></label
                                >
                            </div>
                        </div>
                    </div>
                    <div
                            id="variant-swatch-1"
                            class="swatch clearfix"
                            data-option="option2"
                            data-option-index="1"
                    >
                        <div class="header clearfix size-header">
                            <span>Size</span>
                            <a
                                    href="javascript:void(0)"
                                    class="sizeguide-trigger float-right text-gray-500 text-sm"
                                    onclick="F1GEN.Helper.sizeGuide();"
                            >Instructions for choosing size</a
                            >
                        </div>
                        <div class="select-swap">
                            <div data-value="S1" class="209000000 n-sd swatch-element s1">
                                <input
                                        class="variant-1 hidden"
                                        id="swatch-1-s1"
                                        type="radio"
                                        name="option2"
                                        value="S1"
                                        data-vhandle="s1"
                                        checked
                                />
                                <label
                                        for="swatch-1-s1"
                                        class="sd block mx-2.5 my-2.5 bg-white relative text-sm font-normal text-center cursor-pointer tracking-wide p-2.5 border border-gray-300 focus:bg-black"
                                ><span>S1</span></label
                                >
                            </div>
                            <div data-value="S2" class="209000000 n-sd swatch-element s2">
                                <input
                                        class="variant-1 hidden"
                                        id="swatch-1-s2"
                                        type="radio"
                                        name="option2"
                                        value="S2"
                                        data-vhandle="s2"
                                />
                                <label
                                        for="swatch-1-s2"
                                        class="block mx-2.5 my-2.5 bg-white relative text-sm font-normal text-center cursor-pointer tracking-wide p-2.5 border border-gray-300"
                                ><span>S2</span></label
                                >
                            </div>
                        </div>
                        <!-- <div hidden class="header clearfix size-chose-guide">
                                  <a class="guide-button float-right text-gray-500 text-sm" href="javascript:void(0)">Hướng dẫn chọn size</a>
                              </div> -->
                    </div>
                    <div
                            id="variant-swatch-2"
                            class="swatch clearfix"
                            data-option="option3"
                            data-option-index="2"
                    >
                        <div class="header"><span>Stylecode</span></div>
                        <div class="select-swap">
                            <div
                                    data-value="DAYDA-XANH-DO"
                                    class="209000000 n-sd swatch-element dayda-xanh-do variant-3"
                            >
                                <input
                                        class="variant-2 hidden"
                                        id="swatch-2-dayda-xanh-do"
                                        type="radio"
                                        name="option3"
                                        value="DAYDA-XANH-DO"
                                        data-vhandle="dayda-xanh-do"
                                        checked
                                />
                                <label
                                        for="swatch-2-dayda-xanh-do"
                                        class="sd block mx-2.5 my-2.5 bg-white relative text-sm font-normal text-center cursor-pointer tracking-wide p-2.5 border border-gray-300"
                                ><span>LEATHER-GREEN-RED</span></label
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="new-product-action mt-6">
            <button
                    id="addcart"
                    class="w-full bg-gray-800 text-white flex justify-center items-center h-11"
            >
                Add to cart
            </button>
        </div>
        <div class="new-product-wishlist mt-4">
          <span class="wishlist-btn" data-pid="1051064861">
            <button
                    data-pid="1051064861"
                    data-handle="vong-bac-pandora-boc-da-mau-xanh"
                    data-price="2090000"
                    data-title="Vòng Bạc Pandora Bọc Da Màu Xanh"
                    id="onAppWishList_btn_remove"
                    class="hidden w-full h-11 bg-transparent text-2xl text-gray-800 flex justify-center items-center"
            >
              <i class="fa fa-heart"></i>
              <span class="hidden text-sm ml-2.5">Xoá khỏi yêu thích</span>
            </button>
            <button
                    data-pid="1051064861"
                    data-handle="vong-bac-pandora-boc-da-mau-xanh"
                    data-price="2090000"
                    data-title="Vòng Bạc Pandora Bọc Da Màu Xanh"
                    id="onAppWishList_btn_add"
                    class="w-full h-11 bg-transparent text-2xl text-gray-800 flex justify-center items-center"
            >
              <i class="fa fa-heart-o"></i>
              <span class="hidden text-sm ml-2.5">Thêm vào yêu thích</span>
            </button>
          </span>
        </div>
    </div>
</div>

<div class="new-container sm:mt-10 max-sm:mx-10 mx-[200px] max-w-[1200px] max-[431px]:mx-0">
    <div class="new-product-contents my-12.5">
        <div class="max-[431px]:ml-4 new-product-content border-b border-gray-300 mb-3.75">
            <h3
                    class="font-roboto cursor-pointer font-bold text-[25px] flex flex-wrap items-center justify-between pb-3.75 mt-5"
            >
                Product information<span
                        class="active opacity-50 w-5 text-center"
                ></span>
            </h3>
            <p class="tracking-wide font-roboto mt-2 mb-3 leading-5 text-xl">
                Like an adventure under the ocean and like a peaceful walk in the
                night sky. The Pandora Moments Round Clasp Blue Braided Woven
                Leather Bracelet is woven from delicate dark blue leather straps,
                finished with a round sterling silver buckle and delicate sterling
                silver tip. Paired with up to 9 pieces of jewelry or dangles, this
                bracelet will enhance the unique beauty of your favorite pieces of
                jewelry. Let it become a timeless work of art on your wrist
            </p>
            <p class="tracking-wide font-roboto mt-2.5 text-xl mb-5">
                Collection:&nbsp;Pandora
                <span
                        class="font-roboto text-xl text-black font-normal not-italic no-underline font-[Arial]"
                >Moments</span
                ><br/>Product code:&nbsp;592790C01<br/>Product
                classification:&nbsp;Bracelet<br/>Material:&nbsp;Leather<br/>Color:&nbsp;Green
            </p>
        </div>
    </div>
    <div
            id="wrap_ezca-product-reviews"
            data-title="Vòng Bạc Pandora Bọc Da Màu Xanh"
            data-url="/products/vong-bac-pandora-boc-da-mau-xanh"
            data-img="https://product.hstatic.net/200000103143/product/592790c01_rgb_3cc4b266bdce4cdc9d99415c2f6c79c4_214a98c78f21435e894b35337624d93c.jpg"
            data-id="1051064861"
            data-customer=""
    ></div>
    <div class="new-product-ps mt-5 mb-5 max-[431px]:ml-4">
        <ul
                class="max-w-4/5 mx-auto flex flex-wrap justify-between items-start"
        >
            <li class="w-full sm:w-1/2 lg:w-1/5 md:my-2.5">
                <h4 class="font-roboto font-semibold text-[25px] leading-7 text-black mb-3">
                    Exchange policy
                </h4>
                <p class="tracking-wide font-roboto text-xl mb-2.5 leading-5">
                    The exchange policy only applies to products with technical
                    defects and at full price. The one-for-one exchange policy applies
                    within 15 days from the date of receipt and can only be exchanged
                    once.
                </p>
            </li>
            <li class="w-full sm:w-1/2 lg:w-1/5 md:my-2.5">
                <h4 class="font-roboto font-semibold  text-[25px] leading-7 text-black mb-3">
                    Give a gift
                </h4>
                <p class="tracking-wide mb-2.5 leading-5 text-xl">
                    Do you want to send Pandora jewelry to someone special? Just
                    choose the product you want to give, our customer service staff
                    will personally wrap the gift and write the message you want to
                    send to the gift recipient. Just make a note on your order when
                    ordering! Pandora will contact you shortly!
                </p>
            </li>
            <li class="w-full sm:w-1/2 lg:w-1/5 md:my-2.5">
                <h4 class="font-roboto font-semibold text-[25px] leading-7 text-black mb-3">
                    Free shipping
                </h4>
                <p class="tracking-wide font-roboto mb-2.5 leading-5 text-xl">
                    Pandora offers free shipping nationwide for all order values.
                </p>
            </li>
            <li class="w-full sm:w-1/2 lg:w-1/5 md:my-2.5">
                <h4 class="font-roboto font-semibold text-[25px] leading-7 text-black mb-3">
                    Preservation method
                </h4>
                <p class="tracking-wide font-roboto mb-2.5 leading-5 text-xl">
                    The product should be cleaned with Pandora's specialized product
                    cleaning kit and after use, please clean and store in a sealed box
                    to avoid exposure to air and oxidation.
                </p>
            </li>
        </ul>
    </div>

    <h3
            class="max-[431px]:ml-4 font-roboto mb-10 cursor-pointer font-bold text-[25px] flex flex-wrap items-center justify-between pb-3.75 mb-0"
    >
        Related products<span class="active opacity-50 w-5 text-center"></span>
    </h3>
    <!-- Product Grid -->   
    <section
            class="grid justify-items-center phone:grid-cols-2 phone:col-span-2 phone:max-tablet:justify-center tablet:grid-cols-3 tablet:col-span-3 laptop:col-span-4 laptop:grid-cols-4 max-[430px]:mx-[200px]  max-[431px]:mx-0 max-[431px]:items-center tablet:w-[calc(1000px-200px)] laptop:w-[calc(1200px-100px)]">
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product1.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px] desktop:text-2xl sm:text-base">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px] sm:text-base">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product2.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px] desktop:text-2xl sm:text-base">Product</h3>
                <h4 class="text-center text-[12px] desktop:text-[18px] max-[431px]:text-[11px] sm:text-base">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px]  tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product3.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px] desktop:text-2xl sm:text-base">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px] sm:text-base">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product4.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px] desktop:text-2xl sm:text-base">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px] sm:text-base">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product5.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px] desktop:text-2xl sm:text-base">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px] sm:text-base">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px]  tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product1.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px] desktop:text-2xl sm:text-base">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px] sm:text-base ">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px]  tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product2.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px] desktop:text-2xl sm:text-base">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px] sm:text-base">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-32 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px] ">
            <a href="/product">
                <div class="rounded-lg phone:h-[180px] phone:w-[180px]  tablet:w-[260px] tablet:h-[260px]  bg-[url('https://rawcdn.githack.com/quocanle-study/WebDesignProject/1faf2e03ad8f063b4c81b1ae92408c913f1c24cb/asset/product/product3.webp')] bg-cover bg-center">
                </div>
                <h3 class="font-roboto text-bold text-xl  mt-3 text-center phone:text-[13px] desktop:text-2xl sm:text-base">Product</h3>
                <h4 class="text-[12px] text-center desktop:text-[18px] max-[431px]:text-[11px] sm:text-base">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
    </section>
    
<script type="module" src="/src/resources/scripts/productslide.js"></script>
</div>