<div class="w-11/12 new-product-head-wrap flex flex-wrap relative mx-auto my-0">
    <div class="new-product-images w-full md:w-2/3">
        <div
                class="swiper mx-auto relative overflow-hidden list-none p-0 z-10"
                style="--data-xs: 1"
        >
            <div class="swiper-wrapper flex transition-transform box-content">
                <div class="swiper-slide flex-shrink-0 w-full h-full relative">
                    <a
                            href="#galleryImage-item1"
                            class="zoom relative overflow-hidden"
                            id="style-hoWwR"
                    >
                        <img
                                class="pr-5 pl-5 dt-width-100 img-fluid ls-is-cached lazyloaded w-full h-auto"
                                width="480"
                                height="480"
                                src="https://product.hstatic.net/200000103143/product/592790c01_rgb_3cc4b266bdce4cdc9d99415c2f6c79c4_214a98c78f21435e894b35337624d93c_master.jpg"
                                data-src="//product.hstatic.net/200000103143/product/592790c01_rgb_3cc4b266bdce4cdc9d99415c2f6c79c4_214a98c78f21435e894b35337624d93c_master.jpg"
                                alt=""
                        />
                    </a>
                </div>
            </div>
            <div
                    class="swiper-pagination absolute text-center transition-opacity transform translate3d-0 z-10"
            ></div>
            <div
                    class="swiper-button-next absolute top-1/2 w-[calc(var(--swiper-navigation-size)/44*27)] h-[var(--swiper-navigation-size)] mt-[-calc(var(--swiper-navigation-size)/2)] z-10 cursor-pointer flex items-center justify-center text-[var(--swiper-navigation-color,var(--swiper-theme-color))] right-2.5 left-auto"
            ></div>
            <div
                    class="swiper-button-prev absolute top-1/2 w-[calc(var(--swiper-navigation-size)/44*27)] h-[var(--swiper-navigation-size)] mt-[-calc(var(--swiper-navigation-size)/2)] z-10 cursor-pointer flex items-center justify-center text-[var(--swiper-navigation-color,var(--swiper-theme-color))] left-2.5 right-auto"
            ></div>
        </div>
        <div class="new-product-images-info hidden md:block mt-6">
            <ul
                    class="flex flex-wrap items-center justify-start overflow-y-hidden overflow-x-auto p-0 list-none"
            >
                <li
                        class="p-2.5 text-sm font-normal w-full md:w-[calc(33.3333%-20px)] text-center"
                >
                    The one-for-one exchange policy applies within 15 days from the
                    date of receipt and can only be exchanged once
                </li>
                <li
                        class="p-2.5 text-sm font-normal w-full md:w-[calc(33.3333%-20px)] text-center"
                >
                    Free shipping
                </li>
                <li
                        class="p-2.5 text-sm font-normal w-full md:w-[calc(33.3333%-20px)] text-center"
                >
                    Sanitize and clean products for free
                </li>
            </ul>
        </div>
    </div>
    <div
            class="new-product-info w-full md:w-1/3 max-w-[360px] mx-auto sticky top-[140px] h-min-content md:max-w-[85%] md:mt-4"
    >
        <div
                class="new-product-info-label text-center font-normal text-gray-500 text-sm uppercase mb-2.5 tracking-wider"
        >
            <span></span>
        </div>
        <h1 class="new-product-title font-bold text-2xl mt-2.5 text-center">
            Silver Ring Covered in Blue Leather
        </h1>
        <div
                class="new-product-info-prices flex justify-center items-center text-sm"
        >
            <b
                    class="bg-pink-200 text-gray-800 inline-block px-2.5 py-1 font-bold mx-1.5"
            >£30.00</b
            >
            <del class="mx-1.5">£0</del>
            <span
                    class="bg-gray-800 text-white inline-block px-2.5 py-1 font-medium mx-1.5"
            >-0%</span
            >
        </div>
        <div class="new-product-swatch border-t border-b border-gray-300 mt-6">
            <form
                    id="add-item-form"
                    action="/cart/add"
                    method="post"
                    class="variants clearfix"
            >
                <!-- <div class="select clearfix hidden">
                <div class="selector-wrapper">
                  <label for="product-select-option-0">Chất liệu</label>
                  <select
                    class="single-option-selector"
                    data-option="option1"
                    id="product-select-option-0"
                  >
                    <option value="Bạc">Bạc</option>
                  </select>
                </div>
                <div class="selector-wrapper">
                  <label for="product-select-option-1">Kích thước</label>
                  <select
                    class="single-option-selector"
                    data-option="option2"
                    id="product-select-option-1"
                  >
                    <option value="S1">S1</option>
                    <option value="S2">S2</option>
                  </select>
                </div>
                <div class="selector-wrapper">
                  <label for="product-select-option-2">Stylecode</label>
                  <select
                    class="single-option-selector"
                    data-option="option3"
                    id="product-select-option-2"
                  >
                    <option value="DAYDA-XANH-DO">DAYDA-XANH-DO</option>
                  </select>
                </div>
                <select id="product-select" name="id" class="hidden">
                  <option
                    data-sku="592790C01-S1"
                    data-color="Bạc"
                    value="1114836164"
                  >
                    Bạc / S1 / DAYDA-XANH-DO - 2,090,000₫
                  </option>
                  <option
                    data-sku="592790C01-S2"
                    data-color="Bạc"
                    value="1114836165"
                  >
                    Bạc / S2 / DAYDA-XANH-DO - 2,090,000₫
                  </option>
                </select>
              </div> -->
                <div class="select-swatch">
                    <div
                            id="variant-swatch-0"
                            class="swatch clearfix"
                            data-option="option1"
                            data-option-index="0"
                    >
                        <div class="header"><span>Material</span></div>
                        <div class="select-swap">
                            <div
                                    data-value="Bạc"
                                    class="209000000 n-sd swatch-element bac"
                            >
                                <input
                                        class="variant-0 hidden"
                                        id="swatch-0-bac"
                                        type="radio"
                                        name="option1"
                                        value="Bạc"
                                        data-vhandle="bac"
                                        checked
                                />
                                <label
                                        for="swatch-0-bac"
                                        class="sd block mx-2.5 my-2.5 bg-white relative text-sm font-normal text-center cursor-pointer tracking-wide p-2.5 border border-gray-300"
                                ><span>Silver</span></label
                                >
                            </div>
                        </div>
                    </div>
                    <div
                            id="variant-swatch-1"
                            class="swatch clearfix"
                            data-option="option2"
                            data-option-index="1"
                    >
                        <div class="header clearfix size-header">
                            <span>Size</span>
                            <a
                                    href="javascript:void(0)"
                                    class="sizeguide-trigger float-right text-gray-500 text-sm"
                                    onclick="F1GEN.Helper.sizeGuide();"
                            >Instructions for choosing size</a
                            >
                        </div>
                        <div class="select-swap">
                            <div data-value="S1" class="209000000 n-sd swatch-element s1">
                                <input
                                        class="variant-1 hidden"
                                        id="swatch-1-s1"
                                        type="radio"
                                        name="option2"
                                        value="S1"
                                        data-vhandle="s1"
                                        checked
                                />
                                <label
                                        for="swatch-1-s1"
                                        class="sd block mx-2.5 my-2.5 bg-white relative text-sm font-normal text-center cursor-pointer tracking-wide p-2.5 border border-gray-300"
                                ><span>S1</span></label
                                >
                            </div>
                            <div data-value="S2" class="209000000 n-sd swatch-element s2">
                                <input
                                        class="variant-1 hidden"
                                        id="swatch-1-s2"
                                        type="radio"
                                        name="option2"
                                        value="S2"
                                        data-vhandle="s2"
                                />
                                <label
                                        for="swatch-1-s2"
                                        class="block mx-2.5 my-2.5 bg-white relative text-sm font-normal text-center cursor-pointer tracking-wide p-2.5 border border-gray-300"
                                ><span>S2</span></label
                                >
                            </div>
                        </div>
                        <!-- <div hidden class="header clearfix size-chose-guide">
                                  <a class="guide-button float-right text-gray-500 text-sm" href="javascript:void(0)">Hướng dẫn chọn size</a>
                              </div> -->
                    </div>
                    <div
                            id="variant-swatch-2"
                            class="swatch clearfix"
                            data-option="option3"
                            data-option-index="2"
                    >
                        <div class="header"><span>Stylecode</span></div>
                        <div class="select-swap">
                            <div
                                    data-value="DAYDA-XANH-DO"
                                    class="209000000 n-sd swatch-element dayda-xanh-do variant-3"
                            >
                                <input
                                        class="variant-2 hidden"
                                        id="swatch-2-dayda-xanh-do"
                                        type="radio"
                                        name="option3"
                                        value="DAYDA-XANH-DO"
                                        data-vhandle="dayda-xanh-do"
                                        checked
                                />
                                <label
                                        for="swatch-2-dayda-xanh-do"
                                        class="sd block mx-2.5 my-2.5 bg-white relative text-sm font-normal text-center cursor-pointer tracking-wide p-2.5 border border-gray-300"
                                ><span>LEATHER-GREEN-RED</span></label
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="new-product-action mt-6">
            <button
                    id="addcart"
                    class="w-full bg-gray-800 text-white flex justify-center items-center h-11"
            >
                Add to cart
            </button>
        </div>
        <div class="new-product-wishlist mt-4">
          <span class="wishlist-btn" data-pid="1051064861">
            <button
                    data-pid="1051064861"
                    data-handle="vong-bac-pandora-boc-da-mau-xanh"
                    data-price="2090000"
                    data-title="Vòng Bạc Pandora Bọc Da Màu Xanh"
                    id="onAppWishList_btn_remove"
                    class="hidden w-full h-11 bg-transparent text-2xl text-gray-800 flex justify-center items-center"
            >
              <i class="fa fa-heart"></i>
              <span class="hidden text-sm ml-2.5">Xoá khỏi yêu thích</span>
            </button>
            <button
                    data-pid="1051064861"
                    data-handle="vong-bac-pandora-boc-da-mau-xanh"
                    data-price="2090000"
                    data-title="Vòng Bạc Pandora Bọc Da Màu Xanh"
                    id="onAppWishList_btn_add"
                    class="w-full h-11 bg-transparent text-2xl text-gray-800 flex justify-center items-center"
            >
              <i class="fa fa-heart-o"></i>
              <span class="hidden text-sm ml-2.5">Thêm vào yêu thích</span>
            </button>
          </span>
        </div>
    </div>
</div>

<div class="new-container sm:mt-10 mx-5 sm:mx-10 max-w-[1600px] px-2.5">
    <div class="new-product-contents my-12.5">
        <div class="new-product-content border-b border-gray-300 mb-3.75">
            <h3
                    class="cursor-pointer font-bold text-2xl flex flex-wrap items-center justify-between pb-3.75 mb-0"
            >
                Product information<span
                        class="active opacity-50 w-5 text-center"
                ></span>
            </h3>
            <p class="mt-2 mb-2.5 leading-5">
                Like an adventure under the ocean and like a peaceful walk in the
                night sky. The Pandora Moments Round Clasp Blue Braided Woven
                Leather Bracelet is woven from delicate dark blue leather straps,
                finished with a round sterling silver buckle and delicate sterling
                silver tip. Paired with up to 9 pieces of jewelry or dangles, this
                bracelet will enhance the unique beauty of your favorite pieces of
                jewelry. Let it become a timeless work of art on your wrist
            </p>
            <p class="mt-2.5 mb-0">
                Collection:&nbsp;Pandora
                <span
                        class="text-[13px] text-black font-normal not-italic no-underline font-[Arial]"
                >Moments</span
                ><br/>Product code:&nbsp;592790C01<br/>Product
                classification:&nbsp;Bracelet<br/>Material:&nbsp;Leather<br/>Color:&nbsp;Green
            </p>
        </div>
    </div>
    <div
            id="wrap_ezca-product-reviews"
            data-title="Vòng Bạc Pandora Bọc Da Màu Xanh"
            data-url="/products/vong-bac-pandora-boc-da-mau-xanh"
            data-img="https://product.hstatic.net/200000103143/product/592790c01_rgb_3cc4b266bdce4cdc9d99415c2f6c79c4_214a98c78f21435e894b35337624d93c.jpg"
            data-id="1051064861"
            data-customer=""
    ></div>
    <div class="new-product-ps">
        <ul
                class="max-w-4/5 mx-auto flex flex-wrap justify-between items-start"
        >
            <li class="w-full sm:w-1/2 lg:w-1/5 md:my-2.5">
                <h4 class="font-medium text-lg leading-7 text-black mb-3">
                    Exchange policy
                </h4>
                <p class="mb-2.5 leading-5">
                    The exchange policy only applies to products with technical
                    defects and at full price. The one-for-one exchange policy applies
                    within 15 days from the date of receipt and can only be exchanged
                    once.
                </p>
            </li>
            <li class="w-full sm:w-1/2 lg:w-1/5 md:my-2.5">
                <h4 class="font-medium text-lg leading-7 text-black mb-3">
                    Give a gift
                </h4>
                <p class="mb-2.5 leading-5">
                    Do you want to send Pandora jewelry to someone special? Just
                    choose the product you want to give, our customer service staff
                    will personally wrap the gift and write the message you want to
                    send to the gift recipient. Just make a note on your order when
                    ordering! Pandora will contact you shortly!
                </p>
            </li>
            <li class="w-full sm:w-1/2 lg:w-1/5 md:my-2.5">
                <h4 class="font-medium text-lg leading-7 text-black mb-3">
                    Free shipping
                </h4>
                <p class="mb-2.5 leading-5">
                    Pandora offers free shipping nationwide for all order values.
                </p>
            </li>
            <li class="w-full sm:w-1/2 lg:w-1/5 md:my-2.5">
                <h4 class="font-medium text-lg leading-7 text-black mb-3">
                    Preservation method
                </h4>
                <p class="mb-2.5 leading-5">
                    The product should be cleaned with Pandora's specialized product
                    cleaning kit and after use, please clean and store in a sealed box
                    to avoid exposure to air and oxidation.
                </p>
            </li>
        </ul>
    </div>

    <h3
            class="mb-10 cursor-pointer font-bold text-2xl flex flex-wrap items-center justify-between pb-3.75 mb-0"
    >
        Related products<span class="active opacity-50 w-5 text-center"></span>
    </h3>
    <!-- Product Grid -->
    <section
            class="grid justify-items-center phone:grid-cols-2 phone:max-tablet:justify-center tablet:grid-cols-3 tablet:col-span-3 laptop:col-span-4 laptop:grid-cols-4"
    >
        <div
                class="mb-32 phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px]"
        >
            <a href="/product">
                <div
                        class="bg-red rounded-lg phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px] bg-[url('https://product.hstatic.net/200000103143/product/e_1__8f9ebb926bff444ab6ac44931112f71a_f942d9209a97492b83a08468eea6a3f2_bcb2b6b8a6f849ac8dfbd41382abeeab_master.jpg')] bg-cover bg-center"
                ></div>
                <h3
                        class="text-bold text-xl mt-3 text-center phone:text-[13px] desktop:text-2xl"
                >
                    Product
                </h3>
                <h4 class="text-[12px] text-center desktop:text-[18px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div
                class="mb-32 phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px]"
        >
            <a href="/product">
                <div
                        class="bg-red rounded-lg phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px] bg-[url('https://product.hstatic.net/200000103143/product/load_05a184bb5c3e406099a67ee309d29068_fd8bf5829a834d82b660f3d82eaf63f6_e9089a6b027740f09f9df4e448c391fa_master.jpg')] bg-cover bg-center"
                ></div>
                <h3
                        class="text-bold text-xl mt-3 text-center phone:text-[13px] desktop:text-2xl"
                >
                    Product
                </h3>
                <h4 class="text-center text-[12px] desktop:text-[18px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div
                class="mb-32 phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px]"
        >
            <a href="product">
                <div
                        class="bg-red rounded-lg phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px] bg-[url('https://product.hstatic.net/200000103143/product/load_b195653da08444b495b95ce88c01233b_10076d3b0b5448fc9e1cb0687e4bebee_4a696b61237340349581e7addbc965f2_master.jpg')] bg-cover bg-center"
                ></div>
                <h3
                        class="text-bold text-xl mt-3 text-center phone:text-[13px] desktop:text-2xl"
                >
                    Product
                </h3>
                <h4 class="text-[12px] text-center desktop:text-[18px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div
                class="mb-32 phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px]"
        >
            <a href="/product">
                <div
                        class="bg-red rounded-lg phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px] bg-[url('https://product.hstatic.net/200000103143/product/load_b195653da08444b495b95ce88c01233b_10076d3b0b5448fc9e1cb0687e4bebee_4a696b61237340349581e7addbc965f2_master.jpg')] bg-cover bg-center"
                ></div>
                <h3
                        class="text-bold text-xl mt-3 text-center phone:text-[13px] desktop:text-2xl"
                >
                    Product
                </h3>
                <h4 class="text-[12px] text-center desktop:text-[18px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div
                class="mb-32 phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px]"
        >
            <a href="/product">
                <div
                        class="bg-red rounded-lg phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px] bg-[url('https://product.hstatic.net/200000103143/product/load_56c06dbf4ddb45ac9aae867e96dad1c7_ca532e91f28a452a820dac8ffdadea5f_49c88b24519f4dd1a65ff8f4afefd724_master.jpg')] bg-cover bg-center"
                ></div>
                <h3
                        class="text-bold text-xl mt-3 text-center phone:text-[13px] desktop:text-2xl"
                >
                    Product
                </h3>
                <h4 class="text-[12px] text-center desktop:text-[18px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div
                class="mb-32 phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px]"
        >
            <a href="/product">
                <div
                        class="bg-red rounded-lg phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px] bg-[url('https://product.hstatic.net/200000103143/product/b_1__94bdf50b37244b48a1d2bce9e6708d8e_c91c831868ae4c338ae2c3062921d283_5133c2b7f9a24e09a9711d5f01b878db_master.jpg')] bg-cover bg-center"
                ></div>
                <h3
                        class="text-bold text-xl mt-3 text-center phone:text-[13px] desktop:text-2xl"
                >
                    Product
                </h3>
                <h4 class="text-[12px] text-center desktop:text-[18px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div
                class="mb-32 phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px]"
        >
            <a href="/product">
                <div
                        class="bg-red rounded-lg phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px] bg-[url('https://product.hstatic.net/200000103143/product/b_1__94bdf50b37244b48a1d2bce9e6708d8e_c91c831868ae4c338ae2c3062921d283_5133c2b7f9a24e09a9711d5f01b878db_master.jpg')] bg-cover bg-center"
                ></div>
                <h3
                        class="text-bold text-xl mt-3 text-center phone:text-[13px] desktop:text-2xl"
                >
                    Product
                </h3>
                <h4 class="text-[12px] text-center desktop:text-[18px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div
                class="mb-32 phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px]"
        >
            <a href="/product">
                <div
                        class="bg-red rounded-lg phone:h-[200px] phone:w-[200px] tablet:h-[330px] tablet:w-[330px] laptop:h-[300px] laptop:w-[300px] desktop:h-[400px] desktop:w-[400px] h-[300px] w-[300px] bg-[url('https://product.hstatic.net/200000103143/product/b_1__94bdf50b37244b48a1d2bce9e6708d8e_c91c831868ae4c338ae2c3062921d283_5133c2b7f9a24e09a9711d5f01b878db_master.jpg')] bg-cover bg-center"
                ></div>
                <h3
                        class="text-bold text-xl mt-3 text-center phone:text-[13px] desktop:text-2xl"
                >
                    Product
                </h3>
                <h4 class="text-[12px] text-center desktop:text-[18px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
    </section>
</div>