<section class="grid justify-center w-screen">
<div class=" grid phone:max-tablet:text-center tablet:mx-[200px] max-w-[1200px] phone:max-tablet:max-w-screen phone:max-tablet:ml-5">
    <h1 class="phone:text-[35px] tablet:text-4xl font-roboto text-black phone:mb-5 tablet:mb-10 ">Shop The Latest</h1>
</div>
<main class="grid tablet:grid-cols-3 laptop:grid-cols-4 tablet:mx-[200px] max-w-[1200px] laptop:w-[calc(1200px-100px)] tablet:w-[calc(1200px-350px)] phone:max-tablet:mb-5 phone:max-tablet:w-screen">
    <!-- Sidebar -->
    <section
            class="grid flex-col phone:max-tablet:justify-center tablet:flex  phone:max-tablet:border-gray-200 phone:max-tablet:border-b-2 phone:max-tablet:p-4 gap-5 phone:max-tablet:mb-5 phone:max-tablet:w-screen">
        <form class="max-w-[1200px] w-[220px] ">   
            <label for="default-search" class="text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative phone:max-tablet:start-[40%]">
                <input type="search" id="default-search" class="block w-full p-4 ps-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search..." required />
                <button type="submit" class="absolute end-2.5 bottom-2.5  bg-white focus:ring-2 focus:outline-none rounded-lg  py-2">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e049bbac9007f28b8521ba6a8adffac68548815191ee5882c549324c1ea8d37d?apiKey=e8ca62b583f64a60ba17a0d16e44846a&" >
                </button>
            </div>
        </form>
        <section class="select-none phone:max-tablet:grid phone:max-tablet:justify-center">
            <div class="phone:max-tablet:flex gap-3 relative" id="dropdownButton" >
                <div
                        id="shopBy"
                        class="border-solid border-gray-350 border-[1px] px-5 py-2 mt-5 phone:max-tablet:mt-10 rounded cursor-pointer text-sm flex justify-between w-[220px] phone:max-tablet:w-[full] phone:max-tablet:max-w-[180px] ">
                    Shop By
                    <img width="10"
                         src="https://cdn.builder.io/api/v1/image/assets/TEMP/e94ec9341bd16f6adc455126d5a4c0f9b93274f8dd2680479859e3afea8c2f6a?apiKey=e8ca62b583f64a60ba17a0d16e44846a&"
                         alt="" class="fill-black"/>

                </div>
                <div
                        id="dropdownShop"
                        class="rounded border-[1px] border-gray-300 bg-white absolute top-[50px] phone:max-tablet:top-[80px] phone:max-tablet:w-[full] phone:max-tablet:max-w-[180px]  w-[220px] shadow-md hidden z-20">
                    <div class="cursor-pointer hover:bg-gray-300 p-4">Hello</div>
                    <div class="cursor-pointer hover:bg-gray-300 p-4">Hello</div>
                    <div class="cursor-pointer hover:bg-gray-300 p-4">Hello</div>
                    <div class="cursor-pointer hover:bg-gray-300 p-4">Hello</div>
                </div>
                <div    
                        id="sortBy"
                        class="border-solid border-gray-350 border-[1px] px-5 py-2 mt-10 rounded cursor-pointer text-sm flex justify-between w-[220px] phone:max-tablet:w-[full] phone:max-tablet:max-w-[180px]">
                    Sort By
                    <img width="10"
                         src="https://cdn.builder.io/api/v1/image/assets/TEMP/e94ec9341bd16f6adc455126d5a4c0f9b93274f8dd2680479859e3afea8c2f6a?apiKey=e8ca62b583f64a60ba17a0d16e44846a&"
                         alt="" class="fill-black"/>

                </div>
                <div
                        id="dropdownSort"
                        class="rounded border-[1px] border-gray-300 bg-white absolute top-[130px] phone:max-tablet:top-[80px] phone:max-tablet:w-[full] phone:max-tablet:max-w-[180px]  phone:max-tablet:start-[190px] w-[220px] shadow-md hidden z-10">
                    <div class="cursor-pointer hover:bg-gray-300 p-4">Hi</div>
                    <div class="cursor-pointer hover:bg-gray-300 p-4">Hi</div>
                    <div class="cursor-pointer hover:bg-gray-300 p-4">Hi</div>
                    <div class="cursor-pointer hover:bg-gray-300 p-4">Hi</div>
                </div>
                

            </div>
        </section>
        
       <!-- On Sale and In stock-->
        <section class="phone:max-tablet:flex phone:max-tablet:justify-center phone:max-tablet:gap-10">
            <div 
                    class="flex justify-between phone:max-tablet:my-4 my-10 phone:max-tablet:w-[full] phone:max-tablet:max-w-[150px] w-[220px] z-0 ">
                <a>On sale</a> 
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none  rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                </label>
            </div>
            <div 
                    class="flex justify-between phone:max-tablet:w-[full] phone:max-tablet:max-w-[150px] w-[220px] z-0 items-center">
                <a>In stock</a>
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none  rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                </label>
            </div>
        </section>
        

    </section>

    <!-- Products -->
     <section class="phone:max-tablet:grid phone:max-tablet:justify-center">
    <section
            class=" grid phone:grid-cols-2 phone:max-tablet:justify-center tablet:grid-cols-2 tablet:col-span-2 laptop:col-span-3 laptop:grid-cols-3 tablet:w-[calc(1200px-650px)] laptop:w-[calc(1200px-400px)] phone:mx-[10px] phone:w-[calc(500px-120px)]">
        <div class="mb-20 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]">
            <a href="/product">
                <div class="bg-red rounded phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://product.hstatic.net/200000103143/product/e_1__8f9ebb926bff444ab6ac44931112f71a_f942d9209a97492b83a08468eea6a3f2_bcb2b6b8a6f849ac8dfbd41382abeeab_master.jpg')] bg-cover bg-center">
                    <section class="p-4 text-white">
                        <span class="bg-stone-500 rounded-sm">Sold out</span>
                    </section>
                </div>
                <h3 class="text-bold font-roboto phone:text-[13px] tablet:text-[16px] text-center mt-3">Product</h3>
                <h4 class="text-center font-roboto phone:text-[11px] tablet:text-[15px] desktop:text-[15px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-20 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  ">
            <a href="/product">
                <div class="bg-red rounded phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]   bg-[url('https://product.hstatic.net/200000103143/product/load_05a184bb5c3e406099a67ee309d29068_fd8bf5829a834d82b660f3d82eaf63f6_e9089a6b027740f09f9df4e448c391fa_master.jpg')] bg-cover bg-center">
                </div>
                <h3 class="text-bold font-roboto phone:text-[13px] tablet:text-[16px] text-center mt-3">Product</h3>
                <h4 class="text-center font-roboto phone:text-[11px] tablet:text-[15px] desktop:text-[15px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-20 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  ">
            <a href="product">
                <div class="bg-red rounded phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://product.hstatic.net/200000103143/product/load_b195653da08444b495b95ce88c01233b_10076d3b0b5448fc9e1cb0687e4bebee_4a696b61237340349581e7addbc965f2_master.jpg')] bg-cover bg-center">
                </div>
                <h3 class="text-bold font-roboto phone:text-[13px] tablet:text-[16px] text-center mt-3">Product</h3>
                <h4 class="text-center font-roboto phone:text-[11px] tablet:text-[15px] desktop:text-[15px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-20 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  ">
            <a href="/product">
                <div class="bg-red rounded phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://product.hstatic.net/200000103143/product/load_b195653da08444b495b95ce88c01233b_10076d3b0b5448fc9e1cb0687e4bebee_4a696b61237340349581e7addbc965f2_master.jpg')] bg-cover bg-center">
                </div>
                <h3 class="text-bold font-roboto phone:text-[13px] tablet:text-[16px] text-center mt-3">Product</h3>
                <h4 class="text-center font-roboto phone:text-[11px] tablet:text-[15px] desktop:text-[15px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-20 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  ">
            <a href="/product">
                <div class="bg-red rounded phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://product.hstatic.net/200000103143/product/load_56c06dbf4ddb45ac9aae867e96dad1c7_ca532e91f28a452a820dac8ffdadea5f_49c88b24519f4dd1a65ff8f4afefd724_master.jpg')] bg-cover bg-center">
                </div>
                <h3 class="text-bold font-roboto phone:text-[13px] tablet:text-[16px] text-center mt-3">Product</h3>
                <h4 class="text-center font-roboto phone:text-[11px] tablet:text-[15px] desktop:text-[15px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
        <div class="mb-20 phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  ">
            <a href="/product">
                <div class="bg-red rounded phone:h-[180px] phone:w-[180px] tablet:w-[260px] tablet:h-[260px]  bg-[url('https://product.hstatic.net/200000103143/product/b_1__94bdf50b37244b48a1d2bce9e6708d8e_c91c831868ae4c338ae2c3062921d283_5133c2b7f9a24e09a9711d5f01b878db_master.jpg')] bg-cover bg-center">
                </div>
                <h3 class="text-bold font-roboto phone:text-[13px] tablet:text-[16px] text-center mt-3">Product</h3>
                <h4 class="text-center font-roboto phone:text-[11px] tablet:text-[15px] desktop:text-[15px]">
                    <font color="#a28b68">$20,000</font>
                </h4>
            </a>
        </div>
    </section>
</section>
</section>
    <script type="module" src="/src/resources/scripts/menu.js"></script>
    <script type="module" src="/src/resources/scripts/dropdown.js"></script>
</main>
